.answerchat__container {
  margin-left: 6%;
  padding-top: 8px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.answerchat {
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  background: #3da5ce;
  padding: 10px 13px;
  border-radius: 5px;
  max-width: 80%;
  color: #fff;
  word-break: break-word;

  &::after {
    position: absolute;
    border-right: none;
    border-left: 8px solid #3da5ce;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
    left: auto;
    right: -8px;
    top: 20px;
  }
}
