.message__isQA {
 
  font-weight: 600;
  text-align: left;
  padding: 5px 15px;
}

.message__isQA__ans {
  background: #feffea;
  font-weight: 400;
  border-top: 1px solid #c9c9ca;
}

.isQA__container {
  display: flex;
  flex-direction: column;
}

.message__options__isQA {
  margin-top: 20px;
}
