.App {
  text-align: center;
  font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Segoe UI,Roboto,Hiragino Sans,Noto Sans CJK JP,Original Yu Gothic,Yu Gothic,sans-serif;
}

.App-link {
  color: #61dafb;
}
